[submodule "libssl-cmake"]
	path = libssl-cmake
	url = https://github.com/changyy/libssl-cmake.git
[submodule "libz-cmake"]
	path = libz-cmake
	url = https://github.com/changyy/libz-cmake.git
[submodule "liblua-cmake"]
	path = liblua-cmake
	url = https://github.com/changyy/liblua-cmake.git
[submodule "modules/mod_zip"]
	path = modules/mod_zip
	url = https://github.com/changyy/mod_zip.git
[submodule "modules/lua-nginx-module"]
	path = modules/lua-nginx-module
	url = https://github.com/changyy/lua-nginx-module.git
[submodule "nginx-upload-module"]
	path = nginx-upload-module
	url = https://github.com/changyy/nginx-upload-module.git
